body {
    font-family: 'Roboto', Arial, sans-serif; /* Using Google's Roboto font for a modern look */
    background-color: #ffffff; /* White background for a clean appearance */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 400px; /* Adjusted max-width for login and register forms */
    margin: 0 auto; /* Center aligning the container */
    border-radius: 8px; /* Rounded corners for the container */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    background-color: #f8f9fa; /* Light gray background */
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px; /* Slightly reduced margin */
    color: #1a73e8; /* Google's blue color for headings */
}

form {
    text-align: left; /* Left-align form elements */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333; /* Dark gray for labels */
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 24px); /* Full width input fields */
    padding: 8px 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px; /* Rounded corners for input fields */
    font-size: 1em;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    font-size: 1em;
    color: #fff;
    background-color: #1a73e8; /* Google's blue color for buttons */
    border: none;
    border-radius: 4px; /* Rounded corners for the button */
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0f62fe; /* Darker shade on hover */
}
